<style>
html, body, header, #intro {
    height: 100%;
}

#intro {
    background: url("https://gdurl.com/im6H") no-repeat center center fixed;
    background-size: cover;
}

.myphoto {
    max-width: 450px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.myphoto2 {
    max-width: 450px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.bodytext{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 1px;
    max-width: 500px;
}
.mt-1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mt-2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.pex1{
    padding-top: 70px;
}
</style>
